@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Poppins', sans-serif;
  --transition-smooth: all 0.5s ease-in-out;
}
@utility transition-smooth {
  transition: var(--transition-smooth);
}

body {
  @apply scroll-smooth font-body bg-white text-gray-900 
  transform transition-smooth;
  @variant dark {
    @apply bg-gray-950 text-white;
  }
}

.header {
  @apply bg-blue-100 
  md:hidden flex justify-between items-center p-3 sticky
  shadow-xs
  border-b border-gray-300;
  @variant dark {
    @apply bg-gray-900 border-gray-800;
  }
}
.navbar {
  @apply bg-blue-100  p-5
  fixed top-13 right-0 w-[30%] h-screen 
  border-l border-gray-300
  transform transition-smooth;
  @variant dark {
    @apply bg-gray-900 border-gray-800;
  }
}

.sidebar {
  @apply hidden md:block p-5
 bg-blue-100 
  h-screen w-[200px]
  border-r border-gray-300
  transform transition-smooth;
  @variant dark {
    @apply bg-gray-900 border-gray-800;
  }
}

.navlink {
  @apply py-2 text-shadow-2xs text-gray-600;

  &:hover {
    @apply text-sky-400;
  }
    @variant dark {
    @apply text-gray-500;
  }

}

.navlinkActive {
  @apply text-sky-500;

}
