@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Poppins', sans-serif;
  --transition-smooth: all 0.3s ease-in-out;
}
@utility transition-smooth {
  transition: var(--transition-smooth);
}

body {
  @apply scroll-smooth font-body bg-white text-zinc-900 min-h-screen min-w-screen
  transform transition-smooth;
  @variant dark {
    @apply bg-zinc-900 text-white;
  }
}

.header {
  @apply bg-blue-100 sticky top-0 z-10000000000000000
  md:hidden flex justify-between items-center p-3 
  shadow-xs
  border-b border-gray-300;
  @variant dark {
    @apply bg-zinc-800 border-gray-800;
  }
}
.navbar {
  @apply bg-blue-100  p-5 z-10000000000000000
  fixed top-13 right-0 w-[30%] h-screen 
  border-l border-gray-300
  transform transition-smooth;
  @variant dark {
    @apply bg-zinc-800 border-gray-800;
  }
}

.sidebar {
  @apply hidden md:block p-5
 bg-blue-100 
  h-screen w-[200px]
  border-r border-gray-300
  transform transition-smooth;
  @variant dark {
    @apply bg-zinc-800 border-gray-800;
  }
}

.navlink {
  @apply py-2 text-shadow-2xs text-gray-600;

  &:hover {
    @apply text-sky-400;
  }
  @variant dark {
    @apply text-gray-500;
  }
}

.navlinkActive {
  @apply text-sky-500;
}

.themeToggle {
  @apply relative w-15 h-8 rounded-full
  bg-gray-100 shadow-2xl
  cursor-pointer transition-smooth;
  &:focus {
    @apply outline-none ring-2 ring-blue-500;
  }
  @variant dark {
    @apply bg-gray-600;
  }
}

.slidingKnob {
  @apply absolute top-0 h-8 w-8 rounded-full
   bg-sky-500 shadow-lg
    flex items-center justify-center
    transition-smooth;
}

/*Floating menu*/
.floatingMenu {
  @apply flex flex-col 
  shadow-2xl bg-white rounded-md overflow-hidden 
  absolute top-10 z-10 
  ring-1 ring-gray-200 transition-smooth;
  @variant dark {
    @apply bg-gray-600;
  }
}
.floatingActionButton {
  @apply flex items-center 
  gap-3 py-2 px-5 rounded 
  cursor-pointer 
  transition-smooth;
  @variant dark {
    @apply bg-gray-600;
  }
  &:hover {
    @apply bg-sky-500 text-white;
  }
}
